{% extends 'base.html' %}

{% block title %} Marshrut izlash {% endblock %}

{% block content %}
<h1><p align="center">Marshrut izlash</p></h1>
<div class="row">
    <div class="col-md-8 mx-auto">
        {% if routes %}
            <h3>{{ cities.from_city.name }} shahridan {{ cities.to_city.name }} shahriga marshrut{% if routes|length != 1 %}lar{% endif %}. </h3>
            <br><br>
            {% for route in routes %}
              <form action="{% url 'add_route' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="from_city" value="{{ cities.from_city.id }}">
                <input type="hidden" name="to_city" value="{{ cities.to_city.id }}">
                <input type="hidden" name="total_time" value="{{ route.total_time }}">
                <input type="hidden" name="trains"
                        value="{% for train in route.trains %}{{ train.id }},{% endfor %}">
                {% if forloop.first %}<h4>Eng qisqa marshrut</h4>{% endif %}
                <h5>Yo'l vaqti: {{ route.total_time }}</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Siz tanlagan yo'nalishdagi poyezdlar ro'yhati:</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for train in route.trains %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td colspan="2">{{ train.from_city.name }} shahridan
                              {{ train.to_city.name }} shahriga {{ train.name }} poyezdi
                            </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
                <button type="submit" class="btn btn-success">Saqlab qo'yish</button>
              </form>
              <br><br>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% url 'find_routes' as action %}
{% include 'form.html' with button="Izlash" action=action %}

{% endblock  %}
