{% load i18n %}{% autoescape off %}
{% blocktranslate %}{{ site_name }} saytida akkauntingiz parolini o'zgartirish uchun havola{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Sizning foydalanuvchi nomingiz, agar unutgan bo'lsangiz:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}{{ site_name }} jamoasi{% endblocktranslate %}

{% endautoescape %}